body{
   background-image: url("background2.jpg");
   background-size: cover;
   background-position: center;
   background-repeat:no-repeat;
}
header{
background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 8%;
}
footer{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 8%;
}

